<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{
        bool isAdminOrUser = User.IsInRole("Admin") || User.IsInRole("Korisnik");
    }

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css" />

</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Parketarska radnja", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    <li>@Html.ActionLink("Proizvodi", "Index", "Proizvod", new { area = "" }, new { @class = "nav-link" })</li>
                    @if (isAdminOrUser)
                    {
                        <li>@Html.ActionLink("Magacin", "Index", "Magacin", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Klijenti", "Index", "Klijent", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Narudžbine", "Index", "Narudzbine", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Detalji narudžbine", "Index", "DetaljiNarudzbine", new { area = "" }, new { @class = "nav-link" })</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><center>&copy; @DateTime.Now.Year - Parketarska radnja</center></p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    
    <!-- Ostale reference -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js"></script>

</body>
</html>
